{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}]}.
{deps, [
  {lager,"3.6.8"},
  {meck, ".*", { git, "git://github.com/eproxus/meck.git", {tag, "0.8.10"}}},
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
  {exometer,{git, "git://github.com/Feuerlabs/exometer.git", {ref, "7a7bd8d"}}},
  {erlang_ale, {git, "https://github.com/esl/erlang_ale.git", {ref, "37827e2"}}},
  {jiffy, "1.0.1"}
]}.

{require_min_otp_vsn, "21"}.

{shell, [
    {sys_config, "priv/sys.config"},
    {apps, [smart_house_node]}
]}.

{src_dirs, ["src", "hrl", "priv"]}.

{relx, [
  {sys_config, "priv/sys.config"}
]}.

{profiles, [{test, [{deps, [meck]}]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{plugins, [
  {gradualizer, {git, "https://github.com/josefs/Gradualizer", {branch, "master"}}}
]}.
