[
    {exometer, [
        {report, [
            {reporters, [
                {exometer_report_graphite, [
                    {connect_timeout, 5000},
                    {prefix, "salon"},
                    {host, "192.168.0.178"},
                    {port, 2003},
                    {api_key, ""}
                ]}
            ]}
        ]}
    ]},
    {lager, [
    {log_root, "log"},
        {handlers, [
            {lager_console_backend, [{level, warning}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].
